In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
df = px.data.gapminder()

In [3]:
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [4]:
pd.pivot_table(df, index=['year'], columns=['continent'], values='pop', aggfunc='mean')

continent        Africa     Americas          Asia        Europe     Oceania
year
1952       4.570010e+06  13806097.84  4.228356e+07  1.393736e+07   5343003.0
1957       5.093033e+06  15478156.64  4.735699e+07  1.459635e+07   5970988.0
1962       5.702247e+06  17330810.16  5.140476e+07  1.534517e+07   6641759.0
1967       6.447875e+06  19229864.92  5.774736e+07  1.603930e+07   7300207.0
1972       7.305376e+06  21175368.40  6.518098e+07  1.668784e+07   8053050.0
1977       8.328097e+06  23122707.96  7.225799e+07  1.723882e+07   8619500.0
1982       9.602857e+06  25211636.80  7.909502e+07  1.770890e+07   9197425.0
1987       1.105450e+07  27310158.84  8.700669e+07  1.810314e+07   9787207.5
1992       1.267464e+07  29570964.16  9.494825e+07  1.860476e+07  10459825.5
1997       1.430448e+07  31876016.40  1.025238e+08  1.896480e+07  11120715.0
2002       1.603315e+07  33990910.48  1.091455e+08  1.927413e+07  11727414.5
2007       1.787576e+07  35954847.36  1.155138e+08  1.953662e+07  12274973.5

In [5]:
pop_pivot = pd.pivot_table(df, index=['year'], columns=['continent'], values='pop', aggfunc='mean')
# pivot_tableから縦のデータに変換する
pd.melt(pop_pivot.reset_index(), id_vars=['year'])

    year continent         value
0   1952    Africa  4.570010e+06
1   1957    Africa  5.093033e+06
2   1962    Africa  5.702247e+06
3   1967    Africa  6.447875e+06
4   1972    Africa  7.305376e+06
5   1977    Africa  8.328097e+06
6   1982    Africa  9.602857e+06
7   1987    Africa  1.105450e+07
8   1992    Africa  1.267464e+07
9   1997    Africa  1.430448e+07
10  2002    Africa  1.603315e+07
11  2007    Africa  1.787576e+07
12  1952  Americas  1.380610e+07
13  1957  Americas  1.547816e+07
14  1962  Americas  1.733081e+07
15  1967  Americas  1.922986e+07
16  1972  Americas  2.117537e+07
17  1977  Americas  2.312271e+07
18  1982  Americas  2.521164e+07
19  1987  Americas  2.731016e+07
20  1992  Americas  2.957096e+07
21  1997  Americas  3.187602e+07
22  2002  Americas  3.399091e+07
23  2007  Americas  3.595485e+07
24  1952      Asia  4.228356e+07
25  1957      Asia  4.735699e+07
26  1962      Asia  5.140476e+07
27  1967      Asia  5.774736e+07
28  1972      Asia  6.518098e+07
29  1977      Asia  7.225799e+07
30  1982      Asia  7.909502e+07
31  1987      Asia  8.700669e+07
32  1992      Asia  9.494825e+07
33  1997      Asia  1.025238e+08
34  2002      Asia  1.091455e+08
35  2007      Asia  1.155138e+08
36  1952    Europe  1.393736e+07
37  1957    Europe  1.459635e+07
38  1962    Europe  1.534517e+07
39  1967    Europe  1.603930e+07
40  1972    Europe  1.668784e+07
41  1977    Europe  1.723882e+07
42  1982    Europe  1.770890e+07
43  1987    Europe  1.810314e+07
44  1992    Europe  1.860476e+07
45  1997    Europe  1.896480e+07
46  2002    Europe  1.927413e+07
47  2007    Europe  1.953662e+07
48  1952   Oceania  5.343003e+06
49  1957   Oceania  5.970988e+06
50  1962   Oceania  6.641759e+06
51  1967   Oceania  7.300207e+06
52  1972   Oceania  8.053050e+06
53  1977   Oceania  8.619500e+06
54  1982   Oceania  9.197425e+06
55  1987   Oceania  9.787208e+06
56  1992   Oceania  1.045983e+07
57  1997   Oceania  1.112072e+07
58  2002   Oceania  1.172741e+07
59  2007   Oceania  1.227497e+07

In [6]:
# デフォルトはvalueになるので、名前をつける
pd.melt(pop_pivot.reset_index(), id_vars=['year'], value_name='pop')

    year continent           pop
0   1952    Africa  4.570010e+06
1   1957    Africa  5.093033e+06
2   1962    Africa  5.702247e+06
3   1967    Africa  6.447875e+06
4   1972    Africa  7.305376e+06
5   1977    Africa  8.328097e+06
6   1982    Africa  9.602857e+06
7   1987    Africa  1.105450e+07
8   1992    Africa  1.267464e+07
9   1997    Africa  1.430448e+07
10  2002    Africa  1.603315e+07
11  2007    Africa  1.787576e+07
12  1952  Americas  1.380610e+07
13  1957  Americas  1.547816e+07
14  1962  Americas  1.733081e+07
15  1967  Americas  1.922986e+07
16  1972  Americas  2.117537e+07
17  1977  Americas  2.312271e+07
18  1982  Americas  2.521164e+07
19  1987  Americas  2.731016e+07
20  1992  Americas  2.957096e+07
21  1997  Americas  3.187602e+07
22  2002  Americas  3.399091e+07
23  2007  Americas  3.595485e+07
24  1952      Asia  4.228356e+07
25  1957      Asia  4.735699e+07
26  1962      Asia  5.140476e+07
27  1967      Asia  5.774736e+07
28  1972      Asia  6.518098e+07
29  1977      Asia  7.225799e+07
30  1982      Asia  7.909502e+07
31  1987      Asia  8.700669e+07
32  1992      Asia  9.494825e+07
33  1997      Asia  1.025238e+08
34  2002      Asia  1.091455e+08
35  2007      Asia  1.155138e+08
36  1952    Europe  1.393736e+07
37  1957    Europe  1.459635e+07
38  1962    Europe  1.534517e+07
39  1967    Europe  1.603930e+07
40  1972    Europe  1.668784e+07
41  1977    Europe  1.723882e+07
42  1982    Europe  1.770890e+07
43  1987    Europe  1.810314e+07
44  1992    Europe  1.860476e+07
45  1997    Europe  1.896480e+07
46  2002    Europe  1.927413e+07
47  2007    Europe  1.953662e+07
48  1952   Oceania  5.343003e+06
49  1957   Oceania  5.970988e+06
50  1962   Oceania  6.641759e+06
51  1967   Oceania  7.300207e+06
52  1972   Oceania  8.053050e+06
53  1977   Oceania  8.619500e+06
54  1982   Oceania  9.197425e+06
55  1987   Oceania  9.787208e+06
56  1992   Oceania  1.045983e+07
57  1997   Oceania  1.112072e+07
58  2002   Oceania  1.172741e+07
59  2007   Oceania  1.227497e+07